@charset "UTF-8";

body {
	padding: 1px;
	margin: 1px;
	background-color: #1C1C1F;
	color: #FFFFFF;
}

#divResult {
	background-color: #1C1C1F;
	width: 60%;
	text-align: center;
	margin: 10px auto;	
}

#divHeader {
	width: 100%;
	text-align: center;
	background-color: #31313C;
}

#multipleKill {
	background-color: #CD5C5C;
	border-radius: 40px;
}

table {
	width: 60%;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0 10px;
	border: none;
}

.Victory {
	background-color: #28344E;
}

.Defeat {
	background-color: #52343B;
}

.Remake {
	background-color: #A9A9A9;
}